VITE_FIREBASE_API_KEY=AIzaSyCILtuRr3AQqWftRACHCTSYL12wrClga3w
VITE_FIREBASE_AUTH_DOMAIN=linkvme.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=linkvme
VITE_FIREBASE_STORAGE_BUCKET=linkvme.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=143866847336
VITE_FIREBASE_APP_ID=1:143866847336:web:afdc084b4a24d688f9dbdd
VITE_FIREBASE_MEASUREMENT_ID=G-NC7BD8PH0M
